<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{% render 'language-direction' %}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

  {%- render 'font-preload-link', font: settings.type_heading_font -%}
  {%- render 'font-preload-link', font: settings.type_body_font -%}

  {%- render 'import-map' -%}
  {%- render 'es-module-shims' -%}
  {%- render 'is-land' -%}

  {%- render 'font-faces' -%}
  {%- render 'css-variables' -%}

  {%- style -%}
    {%- for scheme in settings.color_schemes -%}
      .color-{{ scheme.id }} {
      --color-background: {{ scheme.settings.background.rgb }};
      --color-foreground: {{ scheme.settings.text.rgb }};

      background-color: rgb(var(--color-background));
      color: rgb(var(--color-foreground));
      }
    {%- endfor -%}
  {%- endstyle -%}

  <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

  {{ content_for_header }}
  <style>
    header.explorer {
      margin: 0;
      padding: 14px 16px;
      background: #171916;
    }

    h1.explorer {
      color: #76D081;
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      /*margin: 0;*/
      word-wrap: break-word;
    }

    h1.explorer a {
      color: #9A9A9A;
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-decoration: none;
      word-wrap: break-word;
    }
  </style>


</head>

<body>

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{% if contentForQuerystring contains 'view=' %}
  {%- assign view_name = contentForQuerystring
    | split: 'view='
    | last
    | split: '"'
    | first
  -%}
{% endif %}
<header class="explorer">
  <h1 class="explorer">
    {% if view_name == '' or view_name == nil %}
      Component Directory
    {% else %}
      <a href="/">Component Directory</a>
      <span style="color: #9A9A9A;">&gt;</span>
      <span style="text-decoration: underline;">{{ view_name }}</span>
    {% endif %}
  </h1>
</header>

{{ content_for_layout }}
</body>
</html>
